* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/************ HEADER ************/
header {
  font-family: "Poppins", sans-serif;
  background-color: hsl(193, 100%, 96%);
}
.head-01 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  padding-top: 50px;
  margin: auto;
  margin-bottom: 50px;
}
.logo {
  display: flex;
  justify-content: flex-start;
}
.tryForFree-btn {
  display: flex;
  justify-content: flex-end;
}
.tryForFree-btn button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 30px 5px 30px;
  border-radius: 20px;
  transition: 0.1s;
}

.tryForFree-btn button:hover {
  transform: scale(1.1);
}

.head-02 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
  padding: 50px;
}
.head-02 .head-subtitle {
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.head-btn button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  transition: 0.1s;
}

.head-btn button:hover {
  transform: scale(1.1);
}

.head-02 img {
  width: 100%;
  height: auto;
}

/************ MAIN ************/

.allContent {
  width: 80vw;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.content-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-left img {
  width: 70%;
  height: auto;
}
.content-text {
  width: 70%;
  font-family: "Open Sans", sans-serif;
  color: hsl(208, 11%, 55%);
}
h1 {
  color: hsl(192, 100%, 9%);
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

/************ CARD ************/
.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 90px;
  width: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 50px;
  font-family: "Poppins", sans-serif;
  background-color: white;
  position: relative;
  top: 220px;
}
.card button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 20px 70px 20px 70px;
  border-radius: 40px;
  transition: 0.1s;
}

.card button:hover {
  transform: scale(1.1);
}

/************ FOOTER ************/
footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(193, 100%, 96%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 150px;
}
/************ FOOTER-01 and 0-2 ************/
.foot-01 {
  padding: 50px 20px 50px 50px;
}
.foot-location-01,
.foot-location-02,
.foot-location-03,
.foot-location-04 {
  margin-top: 20px;
}
.foot-location-02 img,
.foot-location-03 img,
.foot-location-04 img {
  margin-right: 15px;
}
.foot-location-02 {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}
.foot-location-02 .location-img {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.foot-location-01 img {
  filter: brightness(10) sepia(1);
}
/************ FOOTER-03 ************/
.foot-02,
.foot-03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.foot02-03-help {
  margin-top: 20px;
}

/************ FOOTER-04 ************/
.foot-04 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.foot04-icons {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
ion-icon {
  font-size: 32px;
  margin-right: 20px;
}
.copyright {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

/************ MEDIAQUERY ************/
@media (max-width: 1500px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .logo {
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }
  .tryForFree-btn {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
  }
  .tryForFree-btn button {
    padding: 5px 10px 5px 10px;
  }
  .head-02 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .allContent {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    padding: 10px;
    text-align: center;
  }
  .content-02 {
    flex-direction: column;
  }
  .content-left img {
    margin-bottom: 50px;
  }
  .card {
    width: 90%;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .foot-location-02 .location-img {
    align-items: flex-start;
  }
  .foot-01 {
    margin-top: 50px;
  }
  .foot-01,
  .foot-03,
  .foot-02 {
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: left;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
  }
  .foot04-icons,
  .copyright {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .head-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo {
    margin-bottom: 30px;
  }
  .tryForFree-btn {
    width: 100%;
    justify-content: center;
  }
  .tryForFree-btn button {
    width: 50%;
    padding: 10px;
    justify-content: center;
  }
}
